<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="datasourse.properties"/>
    <settings>
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <environments default="develop">
        <environment id="develop">
            <transactionManager type="config.JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${mybatis.driver}"/>
                <property name="url" value="${mybatis.url}"/>
                <property name="username" value="${mybatis.username}"/>
                <property name="password" value="${mybatis.password}"/>
            </dataSource>
        </environment>

        <environment id="test">
            <transactionManager type="config.JDBC"/>
            <dataSource type="config.DruidDataSourceFactory">
                <property name="driver" value="${mybatis.driver}"/>
                <property name="url" value="${mybatis.url}"/>
                <property name="username" value="${mybatis.username}"/>
                <property name="password" value="${mybatis.password}"/>
                <property name="initialSize" value="5"/>
                <property name="maxActive" value="20"/>
                <property name="minIdle" value="5"/>
                <property name="maxWait" value="3000"/>
            </dataSource>
        </environment>

    </environments>
    <mappers>
<!--        <mapper resource="CRUS.xml"/>-->
        <mapper resource="action.xml"/>
    </mappers>

</configuration>